.block-title {
    position: relative;
    top: 0;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFF 100%);
    height: 80px;
}

.block-title::before {
    display: block;
    content: " ";
    position: relative;
    top: 0;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #D9FFF5;
}

.block-title__text {
    width: 288px;
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-left: 16px;
}

.swiper-block {
    overflow: hidden;
}

.read-more-block {
    display: none;
    margin-top: 10px;
}

.btn__read-more-icon {
    transition: transform 0.5s;
}

.brand-list--extended {
    max-height: 400px !important;
}

.brand-list__item {
    display: flex;
    flex: 0 0 auto;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
}

.brand-list__image {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.brand-list__image-src {
}

.btn-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    transition: all 0.3s;
}

.btn__icon--arrow {
    width: 40px;
    height: 40px;
    background: url(img/go.svg) no-repeat 50% 50%;
}

.btn-brand:hover {
    background-color: #FF3E79;
}

.btn-brand:hover .btn__icon--arrow {
    filter: brightness(0) invert(1);
}

@media screen and (min-width: 768px) {
    .brand-list {
        flex-wrap: wrap;
        padding-left: 24px;
        padding-top: 24px;
        max-height: 170px;
        max-width: 800px;
        gap: 16px 24px;
    }

    .brand-list__item, .brand-list-slide, .swiper-slide {
        width: 224px !important;
    }

    .brand-list-slide {
        margin-right: 0 !important;
    }

    .block-title {
        height: 56px;
    }

    .block-title__text {
        margin-left: 24px;
        width: auto;
    }

    .brand-block {
        margin: 24px;
        max-width: 100%;
        overflow: hidden;
    }

    .btn__read-more {
        display: flex;
        margin-left: 24px;
    }
}

@media screen and (min-width: 1120px) {
    .block-title__text {
        margin-left: 32px;
    }

    .brand-list {
        gap: 16px 32px;
        overflow: hidden;
        max-width: 100%;
        padding-left: 32px;
        padding-top: 24px;
    }

    .brand-list-slide {
        margin-right: 0 !important;
    }

    .brand-block {
        margin: 24px 32px;
    }

    .btn__read-more {
        margin-left: 32px;
    }

    .brand-list__item, .brand-list-slide {
        width: 240px !important;
    }
}

@media screen and (max-width: 767px) {
    .brand-swiper {
        margin: 0 !important;
        padding: 16px !important;
        width: 100%;
        height: 110px;
    }

    .brand-list__item, .brand-list-slide {
        width: 240px !important;
        margin-right: -10px !important;
    }

    .brand-list {
        gap: 16px 24px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        background-color: #b5b6bc;
        width: 12px;
        height: 12px;
    }

    .swiper::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 70px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        z-index: 1;
    }
}

/*a*/