
.block-title {
    position: relative;
    top: 0;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFF 100%);
    height: 80px;
}

.block-title::before {
    display: block;
    content: " ";
    position: relative;
    top: 0;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #D9FFF5;
}

.block-title__text {
    width: 288px;
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-left: 24px;
}


.brand-block {
    margin: 24px 32px;
}

.brand-list__item {
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
}

.brand-list__item--hidden {
    display: none;
}

.brand-list__image {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.brand-list__image-src {
    max-height: 100%;
    max-width: 100%;
}

.btn-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    transition: all 0.3s;
}

.btn__icon--arrow {
    width: 40px;
    height: 40px;
    background: url(img/go.svg) no-repeat 50% 50%;
}

.btn-brand:hover {
    background-color: #FF3E79;
}

.btn-brand:hover .btn__icon--arrow {
    filter: brightness(0) invert(1);
}

.btn__read-more {
    display: none;
}

@media screen and (min-width: 768px) {
    .btn__read-more {
        display: flex;
    }

    .swiper-wrapper {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    .swiper {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .brand-block {
        display: none;
    }

    .brand-list {
        display: block;
        flex-wrap: wrap;
    }
}

.swiper {
    display: none;
    width: 400px;
    height: 100px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px;
}
