
.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.20), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    margin-right: auto;
}

.sidebar-header {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    gap: 16px;
    height: 110px;
}

.nav-button__icon-close {
    background-image: url("img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.nav-button__icon-search {
    background-image: url("img/search.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.nav-button {
}

.nav-button-close {
}

.nav-button__icon {
}

.nav-button__icon-close {
}

.header-menu__logo {
}

.nav-button-search {
    margin-left: auto;
}

.nav-button__icon-search {
}

.sidebar-nav {
    padding-top: 32px;
    padding-bottom: 32px;
}

.sidebar-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}

.sidebar-nav__item {
    display: flex;
    line-height: 24px;
    height: 44px;
    align-items: center;
    cursor: pointer;
}

.sidebar-nav__item::before {
    opacity: 0;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    content: "";
    border-radius: 0 5px 5px 0;
    position: relative;
    left: 0;
}

.sidebar-nav__item:hover.sidebar-nav__item::before {
    opacity: 100;
    transition: 200ms;
}

.sidebar-nav__item:hover .sidebar-nav__item-link {
    color: #7E7E82;
    transition: 400ms;
    cursor: pointer;
}

.sidebar-nav__item-link {
    margin-left: 24px;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.sidebar-nav__item--active {
    color: #7E7E82;
}

/*.sidebar-nav__item--active::before {*/
/*    display: inline-block;*/
/*    width: 4px;*/
/*    height: 32px;*/
/*    background-color: #41F6D7;*/
/*    content: "";*/
/*    border-radius: 0 5px 5px 0;*/
/*    position: relative;*/
/*    left: 0;*/
/*}*/

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
    padding-bottom: 32px;
}

.footer-container {
    display: flex;
    gap: 16px;
    padding: 0 24px;
}

.nav-button-burger {
}

.nav-button__icon-burger {
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 24px;
}

.footer-contacts__email {
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.footer-contacts__phone {
    color: #1B1C21;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.footer-language {
    padding-top: 24px;
    padding-left: 24px;
    display: flex;
    gap: 7px;
}

.footer-language__item {
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.footer-language__item--active {
    color: #7E7E82;
    pointer-events: none;
    cursor: default;
}

.sidebar-link {

}

.sidebar-link:hover {
    color: #FF3E79;
    transition: 500ms;
}