@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    background: #F8F8F8;
    padding: 0;
    font-family: 'TT Lakes', Arial, sans-serif;
    font-weight: normal;
    height: fit-content;
    max-width: 1121px;
    min-width: 320px;
    margin: 0 auto;
    top: 0;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 88px;
    background-color: #fff;
    box-shadow: 0 1px 0 #D9FFF5;
}

.header-menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.header-menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    gap: 16px;
}

.header-menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 16px;
}

.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn:hover .btn__icon {
    transform: scale(1.1);
    transition: 500ms;
    filter: drop-shadow(2px 2px 4px rgba(255, 62, 121, 0.5));
}

.btn:hover .btn__label {
    color: #FF3E79;
    transition: 500ms;
}

.btn__icon {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn:last-child {
    margin-right: 0;
}

.btn__icon-burger {
    background-image: url("img/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn__icon-request {
    background-image: url("img/checkstatus.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn__icon-repair {
    background-image: url("img/repair.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn__icon-chat {
    background-image: url("img/chat.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn__icon-profile {
    background-image: url("img/profile.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.btn__icon-call {
    background-image: url("img/call.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* Скрыть три иконки на мобилке */
@media screen and (max-width: 767px) {
    .btn-chat, .btn-profile, .btn-call, .header-menu__divider_hidden-mobile {
        display: none;
    }
}

.header-menu__divider {
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
}

.header-menu__divider_hidden-mobile {
    margin-left: 0
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 16px 24px 0;
    height: 40px;
}


.title__text {
    color: #1B1C21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.title__highlight {
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    margin-right: 12px;
    border-radius: 0 4px 4px 0;
}

.title-menu {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 16px;
    font-weight: 500;
    gap: 32px;
}

.nav-menu {
    position: relative;
}

.menu-slider {
    display: flex;
    padding-left: 16px;
    white-space: nowrap;
    overflow-x: auto;
}

.menu-slider__item {
    display: flex;
    padding: 8px 16px;
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 8px;
}

.menu-slider__item_active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.main-content__text {
    padding-left: 16px;
    padding-right: 16px;
}

.full-text {
    display: none;
}

.medium-text {
    display: none;
}

.image-container {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.image-container__image {
    width: 100%;
}

@media screen and (min-width: 767px) {
    .header-menu-left {
        padding-left: 24px;
    }

    .header-menu-right {
        padding-right: 24px;
    }

    .main-content {
        flex-direction: row;
        gap: 48px;
    }

    .menu-slider {
        overflow-x: hidden;
    }

    .main-content__text {
        flex-basis: 50%;
        margin-right: 0;
        padding-left: 24px;
    }

    .image-container__image {
        border-radius: 6px;
    }

    .image-container {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-right: 24px;
    }

    .full-text {
        display: none;
    }

    .medium-text {
        display: block;
    }

    .mobile-text {
        display: none;
    }
}

@media screen and (min-width: 1120px) {
    .full-text {
        display: block;
    }

    .medium-text {
        display: none;
    }

    .mobile-text {
        display: none;
    }

    .main-content__text {
        padding-left: 32px;
    }

    .title__highlight {
        margin-right: 30px;
    }

    .header {
        display: none;
    }

    .header-menu__item-call,
    .header-menu__item-chat,
    .header-menu__item-profile {
        display: none;
    }

    .title-menu {
        display: flex;
    }

    .btn__label {
        display: inline-block;
        margin: 8px;
    }

    .menu-slider {
        display: flex;
        flex-wrap: wrap;
        padding-left: 32px;
        white-space: nowrap;
    }
}


.btn__read-more {
    display: flex;
    background: none;
    border: none;
    margin-bottom: 16px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    cursor: pointer;
}

.btn__read-more-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(img/read-more-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px 10px;
    margin-right: 8px;
}

.btn__read-more-text {
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.image-container {
    width: 100%;
}

@media screen and (max-width: 1120px) {
    /* fade эффект */
    .nav-menu::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        background: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
    }
}