.sidebar {
    width: 320px;
    height: 100vh;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.sidebar-header {
    display: flex;
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    height: 110px;
    align-items: center;
}

.nav-button-search {
    margin-left: auto;
}

.nav-button__icon-close {
    background-image: url("img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.nav-button__icon-search {
    background-image: url("img/search.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-nav {
}

.sidebar-nav__list {
}

.sidebar-nav__item {
}

.sidebar-nav__item--active {
}

.sidebar-footer {
}

.footer-container {
}

.footer-contacts {
}

.footer-contacts__email {
}

.footer-contacts__phone {
}

.footer-language {
}

.footer-language__item {
}